* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  background-color: #dde0e8;
  margin-bottom: 40px;
}

header {
  background-color: white;
}

.nav .fa-podcast {
  font-size: 1.7rem;
  color: #FBC740;
}

.nav span {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FBC740;
}

.nav button {
  display: flex;
  padding: 10px 20px;
  /* align-items: flex-start; */
  border: 1px solid #ccc;
  background-color: #FBC740;
  color: white;
  border-radius: 20%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 2rem;
  -webkit-appearance: none;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.nav button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor: pointer;
}

.create-box button {
  padding: 10px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 17px;
  font-family: inherit;
  -webkit-appearance: none;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.create-box button.primary {
  background-color: #2a2a2a;
  color: white;
}

.create-box button.secondary {
  background-color: white;
  color: black;
}

.create-box-actions {
  text-align: right;
}

.create-box button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  cursor: pointer;
}

/* .container {
  width: 70%;
  margin: auto;
} */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 10px 20px;
}

.create-box {
  display: none;
  width: 380px;
  margin: auto;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px
}

.create-box input, textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  font-family: inherit;
  background-color: #ffffff;
  border: 1px solid #ccc;
}

.create-box h2 {
  padding-bottom: 10px;
}

.podcastreviews {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  padding: 0 10px;
}

.podcastreview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 330px;
  height: 330px;
  padding: 10px;
  word-wrap: break-word;
  margin: 10px;
  border-radius: 5%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px;
}

.podcastreview h2{
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-top: 60px;
}

.podcastreview h3 {
  font-size: 0.9rem;
  font-weight: 300;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #2a2a2a;
}

.podcastreview a {
  display: flex;
  justify-content: flex-end;
}

.podcastreview p {
  font-size: 1rem;
  padding: 10px 10px;
}

.podcastrating {
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px;
}

.rating__star {
  cursor: pointer;
  color: #161a1d;
}

.checked {
  color: #FBC740;
}

.delete {
  /* background-color: #FBC740; */
  color: #FBC740;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  float: right;
}

.date {
  display: flex;
  /* justify-content: flex-end; */
  padding: 10px;
  color: #2a2a2a;
}

.podcastrating {
  display: flex;
  justify-content: flex-start;
}

.modal-outer {
  display: grid;
  background: hsla(43, 100%, 50%, 0.5);
  /* hsla(43, 100%, 50%, 0.7) */
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /* Hide this modal until we need it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}

@media(max-width: 768px) {
  .podcastreview {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media(max-width: 480) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .create-box {
    width: 100%;
  }

  .podcastreview {
    width: 100%;
  }
}

